{% extends "head.html" %}

{% block title %}Add A New Cafe{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h1>Add a new cafe into the database</h1>
            <form method="POST" action="{{ url_for('add_cafe') }}" novalidate>
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.cafe.label }}
                    {% for err in form.cafe.errors %}
                    <span style="color: red">{{ err }}</span>
                    {% endfor %}
                    {{ form.cafe(class_='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.location.label(class_='form-label') }}
                    {% for err in form.location.errors %}
                    <span style="color: red">{{ err }}</span>
                    {% endfor %}
                    {{ form.location(class_='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.open.label(class_='form-label') }}
                    {% for err in form.open.errors %}
                    <span style="color: red">{{ err }}</span>
                    {% endfor %}
                    {{ form.open(class_='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.close.label(class_='form-label') }}
                    {% for err in form.close.errors %}
                    <span style="color: red">{{ err }}</span>
                    {% endfor %}
                    {{ form.close(class_='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.coffee_rating.label(class_='form-label') }}
                    {% for err in form.coffee_rating.errors %}
                    <span style="color: red">{{ err }}</span>
                    {% endfor %}
                    {{ form.coffee_rating(class_='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.wifi_rating.label(class_='form-label') }}
                    {% for err in form.wifi_rating.errors %}
                    <span style="color: red">{{ err }}</span>
                    {% endfor %}
                    {{ form.wifi_rating(class_='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.power_rating.label(class_='form-label') }}
                    {% for err in form.power_rating.errors %}
                    <span style="color: red">{{ err }}</span>
                    {% endfor %}
                    {{ form.power_rating(class_='form-control') }}
                </div>
                {{ form.submit(class_="btn btn-primary") }}
            </form>
            <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>
        </div>
    </div>
</div>

{% endblock %}
